[Unit]
Description=gunicorn service for the api
After=network.target

[Service]
User=agad
Group=agad
WorkingDirectory=/home/agad/app/src/
Environment="PATH=/home/agad/app/venv/bin"
EnvironmentFile=/home/agad/.env
ExecStart=/home/agad/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target